<% include partials/head %>

<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="card p-4 mx-auto">
      <div class="col-md-12">
        <a href="/add-product" class="btn btn-primary btn-lg btn-block">
          Add Product
        </a>
        <a href="/products/1" class="btn btn-primary btn-lg btn-block">
          Pagination Page
        </a>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
